@font-face{font-family:"Micro";src:url('MicroExtendFLF.ttf')}
#show_time{font-family:"Micro";text-align:center;font-weight:bold;font-size:30px;color:#fff;text-shadow:1px 1px 2px #000}
#show_date{text-align:center;font-size:16px;color:#fff;font-weight:bold;margin:10px}